@model PredecoderWebApplication.Views.Home.MIPSCodePageModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Predecoder Simulator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
    <link href="/css/mainstyle.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <nav class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="https://www.masm32.com/">IA64</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://dannyqiu.me/mips-interpreter/">MIPS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="">Help</a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</body>
</html>