<div class="menu">
    <div class="menuHeader">
        <a href="#" class="buttonHome">
            <img class="center-img" src="~/img/HomePageLogo.svg" alt="Home">
        </a>
        <a href="https://miem.hse.ru/" class="buttonMIEM">
            <img class="center-img" src="~/img/MIEMLogo.svg" alt="MIEM">
        </a>
    </div>
    <div class="mainMenu">
        <div class="menuBlock">
            <h3>Симуляторы</h3>
            <button class="btn btn-left btn-blu2 bit-drone">Симулятор I64</button>
            <button class="btn btn-left btn-blu2 bit-drone">Симулятор MIPS</button>
        </div>
        <div class="menuBlock">
            <h3>Документация</h3>
            <button class="btn btn-left btn-blu2 book-drone">Архитектура I64</button>
            <button class="btn btn-left btn-blu2 book-drone">Архитектура MIPS</button>
        </div>
        <div class="menuBlock">
            <h3>Краткая справка</h3>
            <button class="btn btn-left btn-blu2 quest-drone">Интсрукции I64</button>
            <button class="btn btn-left btn-blu2 quest-drone">Интсрукции MIPS</button>
            <button class="btn btn-left btn-blu2 quest-drone">Помощь</button>
        </div>
    </div>
</div>