@model PredecoderWebApplication.Views.Home.MIPSCodePageModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Predecoder Simulator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a asp-action="OpenMIPSSimulator">MIPS Simulator</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <a asp-action="OpenMASMSimulator">MIPS Simulator</a>
            </div>
        </div>
    </div>
</body>
</html>